<!DOCTYPE html>
<html lang="en"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>MundoAquarismo</title>
</head>
<body>

<h1>Selecionar Peixe</h1>
<form method="get">
    Nome: <input type="text" value="" name="nome"/>
    Especie: <input type="text" value="" name="nome"/>
    Familia: <input type="text" value="" name="nome"/>
    Local: <input type="text" value="" name="nome"/>
    Agua: <input type="text" value="" name="nome"/>
    Alimentaca: <input type="text" value="" name="nome"/>

    <button type = "submit">Salvar</button>
 </form>

</body>
</html>